@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');
:root{
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary:'Bebas Neue', cursive;

}
.searchTerm{
  font-family: var(--font-primary);
}

.menu-items{
  font-family:var(--font-secondary);
}